<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwm.eems.mapper.PostMapper">
    
    <select id="findAll" resultType="PostVO">
        SELECT
        p.* ,
        d.dept_name
        FROM t_post p
        LEFT JOIN t_department d ON p.dept_id = d .id
        <where>
            <if test="deptId != null and deptId != ''">
                dept_id = #{deptId}
            </if>
        </where>
        ORDER BY order_num
        LIMIT #{offset}, #{pageSize}
    </select>
    
    <select id="findById" resultType="Post">
        SELECT * FROM t_post WHERE id = #{id}
    </select>
    
    <select id="findByCode" resultType="Post">
        SELECT * FROM t_post WHERE post_code = #{postCode}
    </select>
    
    <select id="findByName" resultType="Post">
        SELECT * FROM t_post WHERE post_name = #{postName}
    </select>

    <select id="countAll" resultType="java.lang.Long">
        SELECT count(1) FROM t_post
        <where>
            <if test="deptId != null and deptId != ''">
                dept_id = #{deptId}
            </if>
        </where>
    </select>

    <select id="getByDeptId" resultType="com.wwm.eems.model.Post">
        SELECT * FROM t_post
        <where>
            <if test="deptId != null and deptId != ''">
                dept_id = #{deptId}
            </if>
        </where>
        ORDER BY order_num
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_post (dept_id, post_code, post_name, order_num, status,
                            create_by, create_time, remark)
        VALUES (#{deptId}, #{postCode}, #{postName}, #{orderNum}, #{status},
                #{createBy}, #{createTime}, #{remark})
    </insert>
    
    <update id="update">
        UPDATE t_post
        <set>
            <if test="postCode != null">post_code = #{postCode},</if>
            <if test="postName != null">post_name = #{postName},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = CURRENT_TIMESTAMP
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="updateStatus">
        UPDATE t_post SET status = #{status} WHERE id = #{id}
    </update>
    
    <delete id="deleteById">
        DELETE FROM t_post WHERE id = #{id}
    </delete>
    
</mapper> 